
{% extends "base.html" %}
{% load static bootstrap5 %}


{% block titulo %}
Listar Empresas | {{ block.super }}
{% endblock titulo %}

{% block main %}


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Razão Social</th>
            <th scope="col">Natureza Jurídica</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Telefone</th>
            <th scope="col">Email</th>
        </tr>
    </thead>
    <tbody>
        {% for empresa in empresas %}
        <tr>
            <th scope="row">{{ empresa.razao_social }}</th>
            <td>{{ empresa.natureza_juridica }}</td>
            <td>{{ empresa.cnpj }}</td>
            <td>{{ empresa.telefone }}</td>
            <td>{{ empresa.email }}</td>      

        </tr>

        {% endfor %}
    </tbody>
    
</table>


{% endblock main %}