{%load static bootstrap5 %}
<!doctype html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login | Sistema de Gerenciamento Acadêmico e Financeiro</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="{% static 'img/favicon.png' %}" rel="icon">
    <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'vendor/fontawsome/fontawsom-all.min.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles_login.css' %}" />

</head>

<body>
    <div class="container-fluid ">

        <div class=" no-pdding login-box">
            <div class="row no-margin w-100 bklmj fundo">
                <div class="col-lg-6 col-md-6 log-det">

                    <h2>Login</h2>


                    <div class="row no-margin past">
                        <p>Dont Have an Account? <span>Create your Account</span> </p>
                    </div>


                    <div class="text-box-cont">
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" placeholder="matrícula " aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">

                            <input type="text" class="form-control" placeholder="Senha" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="row no-margin">
                            <p class="forget-p"></p>
                        </div>
                        <div class="right-bkij mb-3">
                            <button class="btn btn-success btn-round">sign In</button>
                        </div>
                        <br>
                        <div class="row linkoi">
                            <div class="col-sm-5">
                                <p>Or login with</p>
                            </div>
                            <div class="col-sm-7">
                                <ul>
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>

                                </ul>
                            </div>
                        </div>
                    </div>



                </div>
                <div class="col-lg-6 col-md-6 box-de">
                    <div class="ditk-inf">
                        <h2 class="w-100">Bem-vindo de Volta</h2>
                        <p>Simplesmente crie sua conta <br> clicando no botão Sign in</p>
                        <button type="button" class="btn btn-outline-light">Sign in</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>


<script src="{% static 'vendor/bootstrap/js/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!-- <script src="{% static 'vendor/bootstrap/js/script.js' %}"></script> -->


</html>